@use '@angular/material' as mat;

.column-layout {
    display:flex;
    flex-direction: column;
}/* You can add global styles to this file, and also import other style files */

.row-layout {
    display:flex;
    flex-direction: row;
}



/* Global toolbar color: set all mat-toolbar elements across the app */
/*.mat-toolbar, mat-toolbar {
  background-color: #8ab34d !important;
  color: white !important;
}*/